/* INDEX PAGE */

main.index-container {
    height: 96vh;
}
#homepage-center, .homepage-section {
    border: 3px solid teal;
    border-radius: 0.5em;
}
.homepage-section {
    position: relative;
    display: flex;
}
.homepage-sect-link {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}
a.homepage-sect-link:hover {
    text-decoration: none;
}

/* NAVIGATION BLOCK (CROSS_SECTION) */

h2 {
    margin-right: 1rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: ">";
}
#page-header {
    /* padding: 2em 0 2em 4em;
    margin-top: -20px; */
    display: flex;
    align-items: center;
}


/* UNIFIED PAGE ELEMENTS (internal pages) */


img {
    max-width: 400px;
    max-height: 225px;
}
footer {
    background-color: #343a40;
    padding: 1em;
    margin-top: 1em;
    color: white;
}