{% extends "partials/tabcontent.html" %}

{% block one %}
	<p class="mr-3 text-info">(English below)</p>
	<p class="mr-3">Вітаю, ви перекладатимете фільми для &laquo;Молодості&raquo;! Якщо це ваш перший раз, то, мабуть, у вас є купа запитань до процесу, матеріалу й інструментарію.</p>
	<p class="mr-3">Якими програмами користуватися? Як має виглядати документ із субтитрами? Що таке &laquo;клацання&raquo;? Як працювати з таймкодами? Скільки часу займає переклад 90-хвилинного фільму? Як перевірити, чи послідовно записані таймкоди? Як переробити .srt-файл у звичайний текстовий &laquo;під клацання&raquo;, не витрачаючи на це купу часу?</p>
	<p class="mr-3">Ці та безліч інших запитань хвилювали мене у 2016, коли я вперше взялася за переклад фільмів. Тоді я працювала лише з фільмами &laquo;під клацання&raquo;, субтитри для яких не мали таймкодів. Коли ж мені довелося переробляти субтитри одного типу на субтитри іншого, друзі-програмісти написали програмку <a href="https://tabsandspaces.github.io/srt-killer/" target="_blank">SRT Killer</a>, яка робить це автоматично.</p>
	<p class="mr-3">Відтоді я загорілася бажанням написати кілька корисних програмок-автоматизаторів, а заодно й скласти докупи знання, поради й відповіді на запитання, що я їх отримала свого часу від координаторів перекладачів — Віктора й Олександри.</p>
	<p class="mr-3">Нарешті цей час настав!</p>
	<p class="mr-3">Сподіваюся, цей портал стане вам у пригоді.</p>
	<p class="mr-3">Щиро,<br>
		Оля</p>
	
	<hr class="border-info my-3">

	<p class="mr-3">Congrats on becoming a Molodist film translator! If it’s your first time, then you probably have lots of questions…</p>
	<p class="mr-3">What apps should I use? What does a file with subtitles look like? What’s “clicking”? What should I do with timecodes? How long does it take to translate a 90-min film? How do I check if my timecodes are properly sequenced? How do I convert an .srt file into a .txt one asap?</p>
	<p class="mr-3">These are just a few questions of the many which bothered me back in 2016 when it was my first time. At some point, as I had to manually remove timecodes from .srt subtitles and make them suitable for “clicking”, my programmer friends wrote a tool that did the job in an instance: <a href="https://tabsandspaces.github.io/srt-killer/" target="_blank">SRT Killer</a>.</p>
	<p class="mr-3">That’s when I resolved to write a few automation tools myself. But first, I wanted to put together a knowledge base for the future translators with all the guidelines and tips that I got from the translation coordinators, Viktor and Oleksandra.</p>
	<p class="mr-3">This time has come!</p>
	<p class="mr-3">I hope you find this portal useful.</p>
	<p class="mr-3">Sincerely,<br>
		Olha</p>
{% endblock %}

{% block two %}
	<p class="mr-3">Портал має наступну структуру:</p>
	<ol>
		<li><a href="{{url_for('index')}}">Домашня сторінка</a> — вона слугує змістом, з неї ви можете переходити на основні розділи.</li>
		<li><a href="{{url_for('about')}}">Про проєкт</a> — ви зараз тут :) Трішки передісторії та орієнтування.</li>
		<li><a href="{{url_for('subtitling')}}">Субтитрування</a> — це про субтитри з таймкодами і субтитри &laquo;під клацання&raquo;, про структуру, кількість символів та розділові знаки.</li>
		<li><a href="{{url_for('translating')}}">Переклад</a> — загальні настанови, рекомендації, проблемні моменти, корисні ресурси тощо.</li>
		<li><a href="{{url_for('editing')}}">Редагування</a> — контрольний перелік для перевірки тексту та загальні поради.</li>
		<li><a href="{{url_for('tools')}}">Інструментарій</a> — перелік онлайн та офлайн ресурсів для субтитрування, перекладу й редагування, а також для автоматизації механічної роботи.</li>
		<li><a href="{{url_for('faq')}}">Часті запитання</a> — список запитань, які, скоріш за все, у вас виникнуть, і відповідей на них.</li>
	</ol>
{% endblock %}