{% extends "partials/tabcontent.html" %}

{% block one %}
	<p class="mr-3">Вітаю, ви перекладатимете фільми для «Молодості»! Якщо це ваш перший раз, то, мабуть, у вас є купа запитань до процесу, матеріалу й інструментарію.</p>
	<p class="mr-3">Якими програмами користуватися? Як має виглядати документ із субтитрами? Що таке «клацання»? Як працювати з таймкодами? Скільки часу займає переклад 90-хвилинного фільму? Як перевірити, чи послідовно записані таймкоди? Як переробити .srt-файл у звичайний текстовий «під клацання», не витрачаючи на це купу часу?</p>
	<p class="mr-3">Ці та безліч інших запитань хвилювали мене у 2016, коли я вперше взялася за переклад фільмів. Тоді я працювала лише з фільмами «під клацання», субтитри для яких не мали таймкодів. Коли ж мені довелося переробляти субтитри одного типу на субтитри іншого, друзі-програмісти написали програмку <a href="https://tabsandspaces.github.io/srt-killer/" target="_blank">SRT Killer</a>, яка робить це автоматично.</p>
	<p class="mr-3">Відтоді я загорілася бажанням написати кілька корисних програмок-автоматизаторів, а заодно й скласти докупи знання, поради й відповіді на запитання, що я їх отримала свого часу від координаторів перекладачів — Віктора й Олександри.</p>
	<p class="mr-3">Нарешті цей час настав!</p>
	<p class="mr-3">Сподіваюся, цей портал стане вам у пригоді.</p>
	<p class="mr-3">Щиро,<br>
		Оля</p>
{% endblock %}

{% block two %}
	<p class="mr-3">Портал має наступну структуру:</p>
	<ol>
		<li><a href="{{url_for('index')}}" class="about-overview">Домашня сторінка</a> — вона слугує змістом, з неї ви можете переходити на основні розділи.</li>
		<li><a href="{{url_for('about')}}" class="about-overview">Про проєкт</a> — ви зараз тут :) Трішки передісторії та орієнтування.</li>
		<li><a href="{{url_for('subtitling')}}" class="about-overview">Субтитрування</a> — це про субтитри з таймкодами і субтитри «під клацання», про структуру, кількість символів та розділові знаки.</li>
		<li><a href="{{url_for('translating')}}" class="about-overview">Переклад</a> — загальні настанови, рекомендації, проблемні моменти, корисні ресурси тощо.</li>
		<li><a href="{{url_for('editing')}}" class="about-overview">Редагування</a> — контрольний перелік для перевірки тексту та поради для автоматизації механічної роботи.</li>
		<li><a href="{{url_for('tools')}}" class="about-overview">Інструментарій</a> — перелік онлайн та офлайн ресурсів для субтитрування, перекладу й редагування.</li>
		<li><a href="{{url_for('faq')}}" class="about-overview">Часті запитання</a> — список запитань, які, скоріш за все, у вас виникнуть, і відповідей на них.</li>
	</ol>
{% endblock %}