{% extends "layout.html" %}

{% block content %}
{% include 'partials/header.html' %}

<main class="container col-11 col-lg-10 align-self-center mt-4" id="page-container">

	<section class="question py-3 border-bottom border-warning">
		<h3>Дедлайни</h3>
		<p class="mr-3">Строгих дедлайнів немає, але варто пам’ятати, що фільмів багато, а часу на переклад — ніколи не вистачає.</p>
		<p class="mr-3">За умовчанням, робота над перекладом одного повнометражного фільму повинна тривати не більше 4-5 днів, залежно від кількости тексту. Якщо вам знадобиться більше часу, краще попередити про це завчасно координаторів перекладу.</p>
	</section>
	
	<section class="question py-3 border-bottom border-warning">
		<h3>Скільки часу потрібно на переклад одного фільму?</h3>
		<p class="mr-3">З власного досвіду: на переклад 10 хвилин фільму витрачається в середньому година часу. Часто — більше. Все залежить від таймкодів та кількості тексту. Наприклад, документальні фільми-інтерв’ю перекладаються дуже повільно.</p>
		<p class="mr-3">Також зважайте на те, що вам знадобиться година чи дві на перевірку своєї роботи.</p>
	</section>
	
	<section class="question py-3 border-bottom border-warning">
		<h3>Якими програмами мені користуватися?</h3>
		<p class="mr-3">Дивіться розділ <a href="{{ url_for('tools') }}">Інструментарій</a>. Там більш детально про це написано.</p>
		<p class="mr-3">Для перекладу (субтитри без таймкодів) — прості текстові редактори. НЕ текстові процесори.</p>
		<p class="mr-3">Для роботи з субтитрами, що містять таймкоди — спеціальні програми на кшталт Aegisub та Subtitle Edit.</p>
		<p class="mr-3">Для перевірки тексту — текстові процесори із плаґінами для перевірки правопису, також спеціальні додатки типу OnlineCorrector.</p>
	</section>
	
	<section class="question py-3 border-bottom border-warning">
		<h3>Що таке «субтитри під клацання»?</h3>
		<p class="mr-3">Це субтитри без таймкодів у простому текстовому форматі (.txt), де одному рядку відповідає один субтитр. Їх потрібно відкривати у спеціальній програмі та проєктувати на екран. Під час показу фільму їх вручну перемикає «клацає» перекладач/перекладачка.</p>
	</section>
	
	<section class="question py-3 border-bottom border-warning">
		<h3>Я не встигаю. Що робити?</h3>
		<p class="mr-3">Якщо в процесі роботи ви раптом усвідомлюєте, що не встигаєте закінчити переклад вчасно, обов'язково повідомляйте про це.</p>
	</section>
	
	<section class="question py-3 border-bottom border-warning">
		<h3>Який варіант правопису мені використовувати?</h3>
		<p class="mr-3">Актуальний. Хоча повний перехід на правопис 2019 року офіційно триватиме кілька років, його вже можна і варто використовувати. Головне – робити це послідовно.</p>
	</section>
		
	<section class="question py-3 border-bottom border-warning">
		<h3>Як має виглядати документ із субтитрами?</h3>
		<p class="mr-3">Детальніше про це — у розділі <a href="{{ url_for('subtitling') }}">Субтитрування</a>.</p>
	</section>
	
	<section class="question py-3 border-bottom border-warning">
		<h3>Як працювати з таймкодами?</h3>
		<p class="mr-3">Слід відкрити файл із субтитрами (якщо його немає — створити) у спеціальній програмі на кшталт Subtitle Edit чи Aegisub, разом із самим фільмом. Такі програми дозволяють автоматично виставляти початок і кінець кожного субтитра з точністю до мілісекунд.</p>
		<p class="mr-3">Якщо ж потрібно проставляти субтитри на слух (бо оригінальні відсутні), дуже допомагає візуально орієнтуватися за звуковою доріжкою.</p>
	</section>
	
	<section class="question py-3 border-bottom border-warning">
		<h3>Як перевірити, чи послідовно записані таймкоди?</h3>
		<p class="mr-3">Щоб перевірити послідовність субтитрів, збережіть свій файл, а потім відкрийте його у програмі роботи з субтитрами разом із фільмом і проклікайте субтитри. Якщо побачите, що деякі з них накладаються на інші — маєте проблему.</p>
		<p class="mr-3">Інструмент, за допомогою якого це можна було б перевірити це автоматично, у мене в планах.</p>
	</section>
	

	<section class="question py-3">
		<h3>Як мені швидко переробити .srt-субтитри на субтитри «під клацання»?</h3>
		<p class="mr-3">Для цього є ось ця невеличка програмка: <a href="https://tabsandspaces.github.io/srt-killer/" target="_blank">SRT-Killer</a>. Просто скопіюйте і вставте вміст .srt-файла у поле ліворуч і натисніть Process.</p>
		<p class="mr-3">Скріншот:</p>
		<div class="col-12 col-lg-8 mb-2">
			<img class="border border-secondary img-fluid" src="{{ url_for('static', filename='images/srt-killer-in-action.png') }}" alt="Screenshot of SRT-Killer tool in action">
		</div>
	</section>
	

</main>


{% endblock content %}