{% extends "layout.html" %}

    {% block content %}
    {% include 'partials/header.html' %}

    <main class="d-flex flex-column justify-content-center container text-center text-light" id="page-container">
        <h3 class="display-1 my-3">404</h3>
        <p class="display-3 text-break text-uppercase"><span class="text-warning">Сторінку</span> не знайдено...</p>
        <p class="h1 text-uppercase"><a class="text-info" href="{{ url_for('index') }}">Додому</a></p>
    </main>
    

    {% endblock %}
