{% extends "partials/tabcontent.html" %}

{% block one %}
	<p class="mr-3">Для перекладу субтитрів &laquo;під клацання&raquo; слід використовувати не текстовий процесор, а простий текстовий редактор, — наприклад, <a href="https://atom.io/" target="_blank">Atom</a>, <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a> чи <a href="https://www.sublimetext.com/" target="_blank">Sublime Text</a>.</p>
	<h4>Переваги</h4>
	<ul>
		<li>Вони дозволяють створювати текстові файли (.txt або .srt) без зайвого форматування (наприклад, не інтерпретують дефіс із пробілом як елемент списку і не зроблять з трьох крапок один символ).</li>
		<li>При виділенні фрагмента тексту ви одразу бачите кількість символів.</li>
		<li>Ви можете налаштувати редактор так, щоб символи, які виходять за межі допустимої кількості, автоматично переносилися на новий рядок (див. скріншот нижче).</li>
		<li>Рядки одразу пронумеровані (зручно, коли треба порахувати кількість субтитрів).</li>
		<li>Простий дизайн і мінімальний функціонал не відволікають від роботи :)</li>
		<li>Якщо порівнювати з Google Docs — ваш комп не гальмуватиме за великих обсягів тексту :)</li>
	</ul>
	<h4>Скріншоти (Atom)</h4>
	<div class="screenshots row align-items-start">
		<div class="col-12 col-lg-7 mb-3">
			<p class="mr-3">За допомогою preferred line length і soft wrap можна налаштувати бажану довжину рядків (у символах) у програмі-редакторі:</p>
			<img class="border border-secondary img-fluid" src="{{ url_for('static', filename='images/atom-soft-wrap-settings.png') }}" alt="Screenshot of Atom text editor: soft wrap in settings">
		</div>
		<div class="col-12 col-lg-5 mb-2">
			<p class="mr-3">Ось як це виглядатиме у робочому вікні:</p>
			<img class="border border-secondary img-fluid" src="{{ url_for('static', filename='images/atom-soft-wrap-view.png') }}" alt="Screenshot of Atom text editor: soft wrap in view">
		</div>
	</div>
	
{% endblock %}


{% block two %}
	<p class="mr-3">Для перевірки ортографії можна відкрити свій файл з перекладом у текстовому процесорі (Word, Google Docs, Pages тощо) і скористатися його вбудованими інструментами. Бажано не виправляти і не зберігати файл у цих програмах, щоб не &laquo;зіпсувати ідеальну відсутність форматування&raquo;.</p>
	<p class="mr-3">Також корисний додаток для перевірки тексту на помилки — <a href="https://onlinecorrector.com.ua/uk/" target="_blank">OnlineCorrector</a>.</p>
{% endblock %}


{% block three %}
	<p class="mr-3">Якщо ви одержуєте в роботу файл англійських субтитрів із готовими таймкодами, необхідно працювати в одній із субтитрувальних програм, наприклад, <a href="https://www.nikse.dk/SubtitleEdit" target="_blank">Subtitle Edit</a> чи <a href="http://subworkshop.sourceforge.net/index.php" target="_blank">Subtitle Workshop</a> (для Windows) або <a href="http://www.aegisub.org/" target="_blank">Aegisub</a> (для macOS). Це потрібно для того, щоб у процесі роботи ненароком не зіпсувати таймкод.</p>
	<p class="mr-3">При роботі над такими файлами в звичайному блокноті чи іншому текстовому редакторі, таймкоди дуже часто ламаються. Виявлення і виправлення помилок займає багато часу (в той час, коли його зазвичай немає).</p>
	<p class="mr-3">Субтитри &laquo;проклацуються&raquo; в програмі subtitler 9 (Windows).</p>
{% endblock %}


{% block four %}
	<p class="mr-3">Іноді ви отримуєте для перекладу субтитри в іншому форматі. Іноді це — діалогові лісти в PDF, або ж узагалі таблиці.</p>
	<h4>Таблиці</h4>
	<p class="mr-3">З таблицями зазвичай просто — потрібно скопіювати текст, вставити його у свій текстовий редактор і замінити табуляцію на пробіли. Табуляцію можна виявити за допомогою regular expressions — їй відповідає символ \t. Дивіться скріншот нижче.</p>
	<div class="screenshots row align-items-start">
		<div class="col-12 col-lg-6 mb-3">
			<p class="mr-3">Колишні клітинки таблиці розділені за допомогою табуляції (Ctrl/Cmd + F для пошуку, зірочкою (*) уможливлюєте regular expressions, вводите \t у полі пошуку):</p>
			<img class="border border-secondary img-fluid" src="{{ url_for('static', filename='images/copying-from-table-atom.png') }}" alt="Screenshot: copying from table to Atom text editor">
		</div>
		<div class="col-12 col-lg-6 mb-2">
			<p class="mr-3">Тепер замінити табуляцію пробілами дуже просто — в полі заміни введіть символи \n і натисніть Replace all:</p>
			<img class="border border-secondary img-fluid" src="{{ url_for('static', filename='images/atom-copying-from-table-tabs-to-spaces.png') }}" alt="Screenshot: replacing tabs with spaces in Atom text editor">
		</div>
	</div>
	<h4>Конвертація</h4>
	<p class="mr-3">Програми для роботи з субтитрами відкривають і конвертують більшість форматів субтитрів без проблем. Також пам’ятайте, що будь-який текстовий файл ви можете відкрити у своєму текстовому редакторі (саме редакторі, а не процесорі). Якщо файл бінарний (не текстовий), подивіться, яка програма може його відкрити. В крайньому разі — запитайте у координаторів перекладу або скористайтеся програмами-конвертерами файлів (за запитом [X] to [Y] file converter).</p>
	<h4>SRT <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i> TXT</h4>
	<p class="mr-3">Якщо вам потрібно швидко перетворити субтитри з таймкодами на субтитри &laquo;під клацання&raquo; (прибрати таймкоди і поставити вертикальну риску у дворядкових субтитрах), ось вам <a href="https://tabsandspaces.github.io/srt-killer/" target="_blank">SRT Killer</a>.</p>
{% endblock %}


{% block five %}
	<h4>Перевірка файлів SubRip Text (.srt)</h4>
	<p class="mr-3">Наступні інструменти дозволяють:</p>
	<ul>
		<li>перевірити, чи трапляються 3-рядкові субтитри,</li>
		<li><a href="https://olhanotolga.github.io/subtitle-tools/space-remover.html" target="_blank" rel="noreferrer noopener">Space Remover</a> — замінити подвійні пробіли одинарними,</li>
		<li><a href="https://olhanotolga.github.io/subtitle-tools/timecode-checker.html" target="_blank" rel="noreferrer noopener">Timecode Checker</a> — перевірити послідовність таймкодів.</li>
	</ul>
{% endblock %}