/* UNIFIED PAGE ELEMENTS (internal pages) */
body {
    display: flex;
    flex-direction: column;
}
.nav-item .active {
    color: #343a40;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-tabs a {
    color: #6c757d;
}
.nav-tabs a:hover {
    color: white;
    background-color: #343a40;
}
#page-header a {
    color: #343a40;
}
#page-header a:hover {
    color: #17a2b8;
    font-weight: 700;
    text-decoration: none;
}
.tab-content a {
    color: #17a2b8;
}
.tab-content a:hover {
    color: #17a2b8;
    text-decoration: underline;
    text-decoration-color:#ffc107;
}
#page-container {
    min-height: 70vh;
    margin-bottom: 5em;
}
.tab-pane h3 {
    display: inline-block;
    color: #343a40;
    border-bottom: 3px solid #ffc107;
    text-transform: uppercase;
    margin-bottom: 1em;
}
h4 {
    margin-bottom: 0.9em;
    font-size: 1.3em;
}
footer {
    background-color: #343a40;
    padding: 1em;
    color: white;
    margin-top: 1em;
    position: fixed;
    bottom: 0;
}
section > ol, section > ul {
    line-height: 1.7em;
    padding-left: 2em;
}

/* INDEX PAGE */

#index-navigation {
    min-height: 96vh;
}
#homepage-center, .homepage-section {
    border-radius: 0.5em;
    background-color: #E9ECEF;
}
.homepage-section {
    position: relative;
    display: flex;
}
.homepage-sect-link {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}
.homepage-sect-link h2 {
    word-wrap: break-word;
}
a.homepage-sect-link:hover {
    text-decoration: none;
}
.homepage-sect-link:hover h2 {
    background-color: #ffc107!important;
    color: #343a40!important;
}
pre {
    background-color: #E9ECEF;
    padding: 1em;
}

@media (min-width: 768px) {
    #index-navigation #homepage-center {
        min-height: 40vh;
    }
    #homepage-center>h1, #homepage-center>i {
        font-size: 2.5rem;
    }
    #homepage-center>p.lead {
        font-size: 1.5rem;
    }
    .homepage-sect-link>p {
        font-size: 1rem;
    }
    .homepage-sect-link h2 {
        font-size: 1.3rem;
    }
}

/* NAVIGATION BLOCK (CROSS_SECTION) */


.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: ">";
}
#page-header {
    border-radius: 0%;
    display: flex;
    align-items: center;
}

/* EDITING */

#checklist {
    margin-bottom: 1em;
}

/* FAQ */
.question h3 {
    display: inline-block;
    color: #17a2b8;
}
.question a {
    color: #17a2b8;
}
.question a:hover {
    color: #17a2b8;
    text-decoration: underline;
    text-decoration-color:#ffc107;
}